
<header id="header">
    
    <div class="header-text">
      <div class="left">
        <h1 class="name">
          <a href="/">Hacker News</a>
        </h1>
        <span class="header-nav">
          <a routerLink="news">news</a>
          <span class="divider">
            |
          </span>
          <span class="header-nav">
          <a routerLink="comments">comments</a>
          <span class="divider">
            |
          </span>
         
        </span>
          
        </span>
      </div>
      
    </div>
  </header>
